<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>{% block title %}{% end %}</title>

		<link rel="stylesheet" href="static/styles/master.css" 
			type="text/css" media="screen" charset="utf-8" 
			title="Default Styles" />
	</head>
	<body lang="en">
		<h1>{% block title %}{% end %}</h1>
		{% block content %}{% end %}
		{% block scripts %}{% end %}
	</body>
</html>