{% extends "base.html" %}


{% block title %}Upload{% end %}


{% block content %}
<div id="canvas">
	<p class="render-indicator">rendering</p>
	<div id="display"></div>
</div>
<form action="/upload" id="comp">
	<input type="file" name="file" id="fileUpload" />

	<input type="submit" value="Render" />
</form>
<div id="log"></div>
{% end %}


{% block scripts %}
<script src="static/scripts/dropzone.js" type="text/javascript"></script>
<script type="text/javascript">
var maxFilesize = {{ filesize }},
	referenceFile,
	canvas = document.getElementById('canvas'),
	display = document.getElementById('display'),
	filterConfig = {
		"edges": {
			"video 0": {
				"label": "video 0",
				"type": "VIDEO"
			},
			"video 1": {
				"label": "video 1",
				"type": "VIDEO"
			}
		},
		"vertices": {
			"input": {
				"label": "input",
				"ports": [
					{
						"edgeId": "video 0",
						"id": "0",
						"label": "X",
						"type": "VIDEO"
					}
				]
			},
			"output": {
				"label": "output",
				"ports": [
					{
						"direction": "in",
						"edgeId": "video 1",
						"id": "0",
						"label": "X",
						"type": "VIDEO"
					}
				]
			},
			"v0": {
				"description": "Blur the input.",
				"details": {
					"params": [
						{
							"default": "2",
							"id": "luma_radius",
							"value": "5"
						},
						{
							"default": "2",
							"id": "luma_power",
							"value": "5"
						},
						{
							"id": "chroma_radius",
							"value": "3"
						},
						{
							"id": "chroma_power",
							"value": "3"
						},
						{
							"id": "alpha_radius",
							"value": ""
						},
						{
							"id": "alpha_power"
						}
					]
				},
				"label": "boxblur",
				"ports": [
					{
						"direction": "in",
						"edgeId": "video 0",
						"id": "0",
						"label": "X",
						"type": "VIDEO"
					},
					{
						"direction": "out",
						"edgeId": "video 1",
						"id": "1",
						"label": "Y",
						"type": "VIDEO"
					}
				]
			}
		}
	};

function log(msg) {
	var args = arguments,
		l = document.getElementById('log');
	for(var i = 0; i < arguments.length; i++) {
		l.innerHTML += arguments[i];
	}
}

function addClass(element, cls) {
	element.setAttribute(
		'class',
		(element.getAttribute('class') || '').split(' ').concat(cls).join(' ')
	);
	return element;
}

function removeClass(element, cls) {
	element.setAttribute(
		'class', (element.getAttribute('class') || '').replace(cls, '').trim()
	);
	return element;
}

function loadImage(file, callback) {
	var reader = new FileReader();
	reader.onload = function(e) {
		callback(e.target.result);
	};
	reader.readAsDataURL(file);
	return reader;
}

function displayImage(image, view) {
	var imgs = view.getElementsByTagName('img'),
		viewer;

	// Create img tag if non-existent in view
	if(imgs.length == 0) {
		viewer = document.createElement('img');
		viewer.id = 'viewer';
		viewer.alt = 'Viewer';
		view.appendChild(viewer);
	}else {
		viewer = imgs[0];
	}

	viewer.src = image;
	return viewer;
}
</script>
<script src="static/scripts/upload.js" type="text/javascript"></script>
<script src="static/scripts/render.js" type="text/javascript"></script>
{% end %}
