{% extends "base.html" %}


{% block title %}Upload{% end %}


{% block content %}
<form action="/upload" class="dropzone" id="fileUpload">
	<div class="fallback">
		<input name="file" type="file" />
	</div>
</form>
<form id="comp">
	<label for="genericValue">Generic Value</label>
	<input type="number" value="5" min="0" max="15" name="genericValue" id="genericValue" />
	<input type="submit" value="Render" />
</form>
<div id="log"></div>
{% end %}


{% block scripts %}
<script src="static/scripts/dropzone.js" type="text/javascript"></script>
<script type="text/javascript">
var maxFilesize = {{ filesize }},
	referenceFile,
	display = document.getElementById('fileUpload');
</script>
<script src="static/scripts/upload.js" type="text/javascript"></script>
<script src="static/scripts/render.js" type="text/javascript"></script>
{% end %}