{% extends "base.html" %}


{% block title %}Upload{% end %}


{% block content %}
<div id="canvas">
	<p class="render-indicator">rendering</p>
	<div id="display"></div>
</div>
<form action="/upload" id="comp">
	<input type="file" name="file" id="fileUpload" />

	<label for="genericValue">Generic Value</label>
	<input type="number" value="5" min="0" max="15" name="genericValue" id="genericValue" />
	<input type="submit" value="Render" />
</form>
<div id="log"></div>
{% end %}


{% block scripts %}
<script src="static/scripts/dropzone.js" type="text/javascript"></script>
<script type="text/javascript">
var maxFilesize = {{ filesize }},
	referenceFile,
	canvas = document.getElementById('canvas');
	display = document.getElementById('display');
</script>
<script src="static/scripts/upload.js" type="text/javascript"></script>
<script src="static/scripts/render.js" type="text/javascript"></script>
{% end %}